ProiectSincretic/ProiectSincretic.vcxproj
ProiectSincretic/ProiectSincretic.sln
ProiectSincretic/ProiectSincretic/Debug/
.vs/
ProiectSincretic\ProiectSincretic.vcxproj.filters
ProiectSincretic\ProiectSincretic.vcxproj.user"